html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $colorGray__100;
  font-family: $ffMain;
  color: $colorText;
}

a {
  color: $colorMain__700;

  &:hover {
    text-decoration: none;
  }
}

.form {
  &__row {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}