$colorWhite: #ffffff;
$colorBlack: #000000;

$colorMain__100: #E1F5FE;
$colorMain__300: #B3E5FC;
$colorMain__500: #03A9F4;
$colorMain__700: #0288D1;
$colorMain__900: #01579B;


$colorGray__300: #E0E0E0;
$colorGray__500: #9E9E9E;
$colorGray__700: #616161;
$colorGray__900: #424242;

$colorSecondary:  #E3F2FD;


$colorText: #263238;

$ffMain: 'Roboto', 'Arial', serif;